body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 120%;
    background-color: #ffffff;
}

table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #ffffff;
}

/* Specific style for top-level index link to preserve original look */
body>a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
}

a:link {
    color: #0000FF;
    text-decoration: none
}

a:visited {
    color: #BA55D3;
    text-decoration: none
}

a:hover {
    color: #FF0000;
    text-decoration: none
}

a:active {
    color: #FF00FF;
    text-decoration: none
}

h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2em
}

p.ingredient {
    padding-left: 8pt
}

span.title {
    font-size: 3em
}

span.label {
    font-weight: bold;
    font-size: 1.2em
}

span.ordinal {
    vertical-align: 50%;
    font-size: 60%
}

tr.title-block {
    text-align: center
}
