body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 120%; background-color: #ffffff;}
table { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100%; background-color: #ffffff;}
a:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; color: #FF00FF; text-decoration: none}
a:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; color: #000033; text-decoration: none}
a:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; color: #0000FF; text-decoration: none}
a:visited { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; color: #999999; text-decoration: none}
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.2em }
p.ingredient {padding-left: 8pt}
span.title {font-size: 3em}
span.label {font-weight: bold; font-size: 1.2em}
span.ordinal {vertical-align:50%; font-size:60%}
tr.title-block {text-align: center }
